.container {
  display: grid;
  grid-template-rows: 80px 300px 300px 300px;
  grid-template-columns: 250px 800px;
}
.sidebar {
  grid-row: 1/5;
  grid-column: 1/2;
  background: #f88;
}
.bar {
  grid-row: 1/2;
  grid-column: 2/3;
  background: #8f8;
  direction: flex;
}
.loading {
  grid-row: 2/3;
  grid-column: 2/3;
  background: #88f;
}
.posts {
  grid-row: 2/3;
  grid-column: 2/3;
  background: blue;
}
.notPostExisits {
  grid-row: 2/3;
  grid-column: 2/3;
  background: yellow;
}
